@use "../util" as *;
@use "colors";
html {
  box-sizing: border-box;
  font-size: 100%;
  min-height: 100% !important;
  height: 100%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
ul,
li,
p {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Avenir Next';
  background: #F2F5F8;
}

.container {
  width: 100%;
  margin: auto;
  @include clear;
  @include breakpoint(medium) {
    max-width: 1200px;
    // background-color: rgb(0, 26, 255);
  }
  @include breakpoint(large) {
    max-width: 1200px;
    //background-color: orange;
  }
  @include breakpoint-down(small) {
    max-width: 100%;
    padding: 0px  16px;
    //background-color: palegreen;
  }
}
img{
  width: 100%;
}
.mt-24{
  margin-top: 24px;
  @include breakpoint-down(small) {
    margin-top: 16px;
  }
}
.res-mt-24{
  @include breakpoint-down(small) {
    margin-top: 16px;
  }
}
button{
  cursor: pointer;
}
.overflow-none {
  overflow: hidden;
}