@use "../util" as *;
.not-found{
    margin-top: 40px;
    text-align: center;
    h2{
        font-weight: 600;
        font-size: 37.9px;
        text-align: center;
        background: linear-gradient(268.55deg, #0077B6 -2.59%, #07BEB8 104.12%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    p{
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        color: #0077B6;
    }
    img{
        width: auto !important;
        margin-top: 24px !important;
        margin: 0 auto;
        display: block;
        margin-bottom: 24px !important;
    }
    @include breakpoint-down(small) {
        h2{
            font-size: 32px;
        }
        p{
            font-size: 14px;
        }
        img{
            max-width: 100%;
        }
        button{
            width: 100%;
        }
    }
}