.privacy{
    margin-top: 40px;
    p{
        font-weight: 500;
        font-size: 16px;
        color: #43464C;
        margin-bottom: 24px;
    }
    h2{
        font-weight: 700;
        font-size: 16px;
        color: #43464C;
    }
    h2 + p{
        margin-top: 8px;
    }
}