@use "../util" as *;
.map{
    margin-top: 40px;

    &__bg{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &_left{
            border-radius: 16px;
            overflow: hidden;
            .map__bg_left_box{
                width: 894px;
                height: 100%;
            }
        }
        &_right{
            .line-res{
                display: none;
            }
            padding: 16px;
            background: #fff;
            width: 100%;
            max-width: 282px;
            border-radius: 16px;
            .search-box{
                width: 100%;
                border-bottom: 2px solid #F2F5F8;
                padding-bottom: 8px;
                img{
                    width: auto !important;
                    margin-right: 8px;
                }
                input{
                    background: transparent;
                    border: none;
                    box-shadow: none;
                    font-weight: 400;
                    font-size: 16px;
                    color: #43464C;
                    opacity: 0.5;
                    outline: none;
                }
            }
            .map__lists{
                h4.title{
                    font-weight: 700;
                    font-size: 12px;
                    text-transform: uppercase;
                    color: #07BEB8;
                    padding-bottom: 16px;
                    border-bottom:  1px solid #F2F5F8;
                    margin-top: 16px;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    li{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        padding-bottom: 16px;
                        margin-top: 16px;
                        border-bottom: 1px solid #F2F5F8;
                        .map__lists_number{
                            flex-shrink: 0;
                            width: 32px;
                            margin-right: 8px;
                            height: 32px;
                            border-radius: 50%;
                            background: #F2F5F8;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            span{
                                font-weight: 700;
                                font-size: 16px;
                                color: #07BEB8;
                            }
                        }
                        .map_lists_box{
                            display: flex;
                            flex-direction: column;
                            h3{
                                font-weight: 500;
                                font-size: 16px;
                                color: #0077B6;
                            }
                            p{
                                font-weight: 400;
                                font-size: 12px;
                                color: #43464C;
                            }
                        }
                    }
                }
            }
        }
    }
    @include breakpoint-down(small) {
        .container{
            width: 100%;
            padding: 0px;
        }
        &__bg{
            position: relative;
            flex-direction: column;
            &_left{
                .map__bg_left_box{
                    height: 571px;
                }
            }
            &_right{
                width: 100%;
                max-width: 100%;
                margin-top: -64px;
                transition: all 200ms ease-in-out;
                -webkit-transition: all 200ms ease-in-out;
                -moz-transition: all 200ms ease-in-out;
                -ms-transition: all 200ms ease-in-out;
                -o-transition: all 200ms ease-in-out;
                position: relative;
                z-index: 21;
                .line-res{
                    display: block;
                    height: 4px;
                    width: 66px;
                    border-radius: 20px;
                    background:#9EA0A6;
                    margin: 0 auto;
                    margin-bottom: 16px;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    -ms-border-radius: 20px;
                    -o-border-radius: 20px;
                }
            }
            .mob-fun{
                margin-top:-400px !important;
            }
        }
    }
}