
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: "Visby CF";
  font-weight: 300;
  src: url("/app/fonts/VisbyCF-Bold.ttf");
}
@font-face {
  font-family: "Visby CF";
  font-weight: 100;
  src: url("/app/fonts/VisbyCF-Light.ttf");
}
@font-face {
  font-family: "Visby CF";
  font-weight: 200;
  src: url("/app/fonts/VisbyCF-Regular.ttf");
}
@font-face {
  font-family: "Visby CF";
  font-weight: 400;
  src: url("/app/fonts/VisbyCF-Heavy.ttf");
}
