@use "../util" as *;
.title-page{
    margin-top: 24px;
    position: relative;
    &::after{
        position: absolute;
        width: 100%;
        height: 470px;
        display: block;
        content: ' ';
        background: url("../img/BG-Desktop.png");
        background-repeat: no-repeat;
        top: -110px;
        right: 0;
        background-position: center;
        background-size: contain;
        z-index: -1;
    }
    &--bg{
        display: flex;
        flex-direction: column;
    }
    &--title{
        h1{
            font-weight: 700;
            font-size: 48px;
            background: linear-gradient(268.55deg, #0077B6 -2.59%, #07BEB8 104.12%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
        p{
            font-weight: 400;
            font-size: 18px;
            color: #0077B6;
        }
    }
    &--bread{
        display: flex;
        align-items: center;
        justify-content: end;
        img.arrow{
            width: fit-content;
            opacity: 0.2;
            margin-left: 8px;
            margin-right: 8px;
        }
        a{
            img{
                width: auto;
                display: block;
            }
            span{
                font-weight: 600;
                font-size: 12px;
                color: #9EA0A6;
            }
        }
    }
    &-404{
        &::after{
            display: none !important;
        }
    }
    @include breakpoint-down(small) {
        margin-top: 16px;
        &::after{
            max-width: 284px;
            width: 100%;
            background-size: contain !important;
            right: 0px;
            background: url("../img/svg/stamp.svg");
        }
        &--title{
            h1{
                font-size: 32px;
            }
            p{
                font-weight: 400;
                font-size: 14px;
            }
        }
    }
}
.main{
    margin-top: 40px;
    &-bg{
        display: flex;
        align-items: center;
        > img{
            width: 588px  !important;
            z-index: 1;
            border-radius: 5px;
            display: block;
            width: 100%;
            position: relative;
        }
        &--bread{
            a:hover{
                color: #07BEB8;
            }
        }
        &--title{
            background: #fff;
            padding: 48px;
            box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.08);
            border-radius: 16px;
            height: fit-content;
            margin-left: -5%;
            position: relative;
            z-index: 21;
            width: 100%;
            h3{
                font-weight: 500;
                font-size: 28.43px;
                color: #0077B6;
                margin-bottom: 8px;
            }
            p{
                font-weight: 500;
                font-size: 16px;
                color: #43464C;
            }
        }
        &--table{
            table{
                margin-top: 8px;
                width: 100%;
                tbody{
                    display: block;
                    width: 100%;
                    border: 1px solid #DFE1E6 !important;
                    border-radius: 4px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -o-border-radius: 4px;
                    tr{
                        border-bottom: 1px solid #DFE1E6;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        &:nth-last-child(1){
                            border: none;
                        }
                        td{
                            width: 100%;
                            text-align: center;
                            padding: 8px 0px;
                            border-left: 1px solid #DFE1E6;
                            &:nth-child(1){
                                border: none;
                            }
                            span{
                                font-weight: 500;
                                font-size: 16px;
                                color: #43464C;
                            }
                        }
                    }
                }
            }
        }
        ul{
            margin-left: 16px;
        }
        ul.mt-2{
            margin-top: 16px;
        }
        ul.light{
            li{
                p{
                    font-weight: 400;
                    font-size: 12px;
                }
            }
        }
    }
    &-left{
        flex-direction: row-reverse;
        &--title{
            margin-left: 0px;
            margin-right: -5%;
        }
    }
    @include breakpoint-down(small) {
        margin-top: 16px;
        .container{
            max-width: 100% !important;
        }
        &-bg{
            flex-direction: column;
            img{
                width: 100% !important;
                border-radius: 0px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                -ms-border-radius: 0px;
                -o-border-radius: 0px;
            }
            &--title{
                max-width: 343px;
                padding: 32px;
                margin-left: 0;
                margin-top: -10%;
                h3{
                    font-weight: 500;
                    font-size: 24px;
                }
                p{
                    font-weight: 500;
                    font-size: 16px;
                }
            }
        }
        &-left{
            flex-direction: column;
        }
    }
}
