@use "../util" as *;
.questions{
    margin-top: 40px;
    &-bg{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .left{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        img{
            width: fit-content !important;
        }
        h4{
            background: linear-gradient(268.55deg, #0077B6 -2.59%, #07BEB8 104.12%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-weight: 600;
            font-size: 37.9px;
            margin-top: 20px;
        }
        p{
            font-weight: 400;
            font-size: 21.33px;
            color: #43464C;
            margin-top: 16px;
            margin-bottom: 32px;
        }
    }
    &-item{
        width:588px;
        margin-top: 24px;
        &:nth-child(1){
            margin-top: 0;
        }
    }
    .open{
        .questions-app{
            &::after{
                content: " ";
                width: 12px;
                height: 15px;
                background: url("/app/img/svg/faq.svg");
                background-size: auto;
                position: absolute;
                right: 24px;
                
                display: none;
                background-size: cover;
            }
            &-arrows{
                span{
                }
                span.arrowone{
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                }
                span.arrowtwo{
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                }
            }
        }
    }
    &-app{
        background-color: #fff;
        display: flex;
        padding: 16px 24px;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        position: relative;
        &-arrows{
            width: 16px;
            height: 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            span{
                display: block;
                width: 100%;
                height: 100%;
                transition: all 150ms cubic-bezier(.25,.46,.45,.94);
                -webkit-transition: all 150ms cubic-bezier(.25,.46,.45,.94);
                -moz-transition: all 150ms cubic-bezier(.25,.46,.45,.94);
                -ms-transition: all 150ms cubic-bezier(.25,.46,.45,.94);
                -o-transition: all 150ms cubic-bezier(.25,.46,.45,.94);
            }
            span.arrowone{
                background: url('/app/img/svg/arrow-top-faq.svg');
                background-repeat: no-repeat;
                margin-bottom: 2px;
                background-position: center;
            }
            span.arrowtwo{
                background: url('/app/img/svg/arrow-bttom-faq.svg');
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        h3{
            font-weight: 500;
            font-size: 18px;
            color: #43464C;
        }
        &:hover{
            h3{
                color: #07BEB8 !important;
            }
        }
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
    &-content{
        display: none;
        background-color: #fff;
        padding: 16px 24px;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius:0px !important;
        padding-top: 0px !important;
        .line{
            width: 100%;
            height: 2px;
            background:#F2F5F8;
            margin-bottom: 24px;
        }
    }
    .open{
        .questions-app{
            border-bottom-left-radius: 0px !important;
            border-bottom-right-radius:0px !important;
        }
        .questions-content{
            display: block;
            border-bottom-left-radius: 8px !important;
        border-bottom-right-radius:8px !important;
        }
    }
    @include breakpoint-down(small) {
        &-bg{
            flex-direction: column;
        }
        .left{
            h4{
                font-weight: 600;
                font-size: 24px;
                text-align: center;
            }
            p{
                font-weight: 400;
                font-size: 16px;
                text-align: center;
                margin-top: 8px;
                margin-bottom: 16px;
            }
        }
        .right{
            margin-top: 24px;
        }
        &-item{
            width: 100%;
            margin-top: 16px;
            &:nth-child(1){
                margin-top: 0;
            }
        }
        &-app{
            h3{
                font-weight: 600;
                font-size: 16px;
            }
        }
    }
}
.faq{//faq-page
    .right{
        width: 100%;
    }
    .questions-item{
        width: 100% !important;
    }
    .questions-app{
        padding: 24px;

    }
    .questions-content{
        ul{
            margin-left: 16px;
            margin-top: 24px;
        }
    }
}