@use "../util" as *;
.services{
    margin-top: 40px;
    &-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &-box{
        width: 100%;
        max-width: 588px;
        display: flex;
        flex-direction: row;
        background: #FFFFFF;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
        padding: 16px;
        img{
            width: 266px;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
        }
        &-dic{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin-left: 24px;
            h3{
                font-weight: 600;
                font-size: 24px;
                color: #0077B6;
                margin-bottom: 24px;
            }
        }
    }
    @include breakpoint-down(small) {
        &-flex{
            flex-direction: column;
            flex-wrap: nowrap;
        }
        &-box{
            max-width: 100%;
            width: 100%;
            padding: 8px;
            img{
                width: 149px;
                height: 100%;
            }
            &-dic{
                margin-left: 16px;
                h3{
                    font-weight: 600;
                    margin-bottom: 8px;
                    font-size: 16px;
                }
                button{

                }
            }
        }
    }
}