.footer img {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
.footer-main {
  margin: 0 auto;
  width: 1264px;
  background-color: #FFF;
  padding: 32px 32px;
  border-radius: 0px 0px 16px 16px;
  -webkit-border-radius: 0px 0px 16px 16px;
  -moz-border-radius: 0px 0px 16px 16px;
  -ms-border-radius: 0px 0px 16px 16px;
  -o-border-radius: 0px 0px 16px 16px;
}